﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewData["Title"] - Museu Virtual de Atiaia</title>
    <meta name="description" content="Museu Virtual de Atiaia - ">
    <meta name="author" content="Leonardo S. Dorathoto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @{ await Html.RenderPartialAsync("_StylesheetsPartial"); }

    @RenderSection("Estilos", false)

    <!-- FAVICONS -->

</head>
<body>
    @await Html.PartialAsync("_Topo")
    @{ await Html.RenderPartialAsync("_menu"); }

    <partial name="_CookieConsentPartial" />
    <div id="main" role="main">
        <!-- MAIN CONTENT -->
        <div id="content">
            @RenderBody()
        </div>
        <!-- END MAIN CONTENT -->
    </div>

    @await Html.PartialAsync("_Rodape")


    @{ await Html.RenderPartialAsync("_Scripts"); }
    <environment include="Development">
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/js/plugin/pace/pace.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/js/plugin/pace/pace.min.js"></script>
    </environment>
    <script>
        $(function () {
            pageSetUp();
            Inputmask.extendDefinitions({
                'A': {
                    validator: "[A-Za-z]",
                    casing: "upper"
                }
            })
        });

        (function () {
            var body = document.body;
            var request = body.requestFullScreen || body.webkitRequestFullScreen || body.mozRequestFullScreen || body.msRequestFullScreen;
            if (request) {
                var prefix = request.name.replace(/requestFullscreen/gi, "")
                var getFullscreen = function () {
                    return prefix ? document[prefix + "FullscreenElement"] : document.fullscreenElement;
                }
                var iframe = null;
                var atalhos = document.getElementById("atalhos");
                atalhos.addEventListener("click", function (evt) {
                    evt.preventDefault();

                    iframe = document.createElement("iframe");
                    iframe.src = '@Url.Action("Atalhos", "Home")'
                    iframe.id = 'atalhos';
                    body.appendChild(iframe);

                    request.call(body);
                });

                document.addEventListener(prefix + "fullscreenchange", function (evt) {
                    var fs = getFullscreen();
                    if (!fs && iframe) {
                        body.removeChild(iframe);
                        iframe = null;
                    }
                })
            }
        })();

        function MostraConfirm(title, texto) {
            var cor = "#3d6535";
            var timeout = 3000;
            if (title.toLowerCase() == "erro" || title.toLowerCase() == "atenção") {
                cor = "#DD2C00";
                timeout = 6000;
            }
            $.bigBox({
                title: title,
                content: texto,
                color: cor,
                icon: "fa fa-warning shake animated",
                number: "1",
                timeout: timeout
            });

        }

        $.datetimepicker.setLocale('pt-BR');
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>