﻿<aside id="left-panel">
    @*Informação de usuário*@


    <a href="/">
        <img src="~/img/Logotipo.png" alt="COI" class="img-responsive center-block">

    </a>

    <div class="login-info">
        <span>
            <!-- O tamanho da imagem do usuário é ajustado dentro do CSS-->
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <span>Leonardo</span>
            </a>
        </span>
    </div>
    <!-- fim info Usuário -->

    <nav>
        <ul>

            <li is-active-route asp-controller="Home">
                <a asp-controller="Home" asp-action="index" title="Página Inicial">
                    <i class="fas fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span>
                </a>
            </li>


            <li is-active-route asp-controller="ManutencaoVTRs">
                <a href="#">
                    <i class="fa-fw fa-lg fas fa-wrench"></i> <span class="menu-item-parent"> Categoria</span>
                </a>
                <ul>

                    <li is-active-route asp-controller="ManutencaoVTRs" asp-action="index">
                        <a asp-controller="ManutencaoVTRs" asp-action="index">Listar</a>
                    </li>

                    <li is-active-route asp-controller="ManutencaoVTRs" asp-action="Create">
                        <a asp-controller="ManutencaoVTRs" asp-action="Create">Cadastrar</a>
                    </li>
                </ul>
            </li>

            <li is-active-route asp-controller="EscalaTrabalho">
                <a href="#">
                    <i class="fa-fw fa-lg far fa-calendar-alt"></i> <span class="menu-item-parent"> Item</span>
                </a>
                <ul>

                    <li is-active-route asp-controller="EscalaTrabalho" asp-action="index">
                        <a asp-controller="EscalaTrabalho" asp-action="index">Listar</a>
                    </li>

                    <li is-active-route asp-controller="EscalaTrabalho" asp-action="Create">
                        <a asp-controller="EscalaTrabalho" asp-action="Create">Cadastrar</a>
                    </li>
                </ul>
            </li>


            <li is-active-route asp-controller="Equipes">
                <a href="#">
                    <i class="fa-lg fa-fw fas fa-user-shield"></i> <span class="menu-item-parent">Usuarios</span>
                </a>
                <ul>
                    <li is-active-route asp-controller="Equipes" asp-action="Index">
                        <a asp-controller="Equipes" asp-action="Index">Listar</a>
                    </li>
                    <li is-active-route asp-controller="Equipes" asp-action="Create">
                        <a asp-controller="Equipes" asp-action="Create">Cadastrar</a>
                    </li>

                </ul>
            </li>



            


        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fas fa-arrow-circle-left hit"></i>
    </span>

   
</aside>
<!-- END NAVIGATION -->
