<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white"><span class="hidden-xs">Proj. by Aramis, Denise, Fernando, Henrique, Leonardo, Silvio e Wanderson  </span> © 2018</span>
        </div>




        @*<div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">Seu ultimo acesso em: <i class="far fa-clock"></i> <strong>23/02/2018 10:50:15 &nbsp;</strong> </i>
            </div>
        </div>*@
    </div>
</div>

