
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
      asp-fallback-href="~/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only"
      asp-fallback-test-property="position"
      asp-fallback-test-value="absolute" />
<link href="~/css/smartadmin-production.css" rel="stylesheet" />
<link href="~/css/smartadmin-production-plugins.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/Museu.all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/v4-shims.css">

<link href="~/css/wmb.min.css" rel="stylesheet" />

<!-- GOOGLE FONT -->
@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css">*@

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400i,700i|Roboto:300,400,700|Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />




