<!-- HEADER -->
<header id="header">
    <div id="logo-group">
        <span id="logoGuarda">
            <a href="/">
                <img src="~/img/LogoGuarda.png" alt="COI" class="visible-mobile hidden-desktop img-responsive logoCoiMobile">

            </a>
        </span>

        <!-- Note: a cor do badge muda ao ser clicado, mostrando que já foi visualizado os alertas -->
        @*<span id="CountAlerta" class="activity-dropdown">

            <i class="fas fa-user"></i> <b class="badge"> 21 </b>
        </span>*@
        @*<div class="ajax-dropdown">
            
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="activity" onclick="window.location='/Alertas'">
                    Msgs (14)
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="/ajax/notify/notifications.html">
                    Alertas (3)
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="/ajax/notify/tasks.html">
                    Tarefas (4)
                </label>
            </div>

            <!-- Alertas -->
            <div class="ajax-notifications custom-scroll">

                <div class="alert alert-transparent">
                    <h4>Alertas via ajax?.</h4>
                </div>

                <i class="fa fa-lock fa-4x fa-border"></i>

            </div>
            <!-- fim dos Alertas -->


            <span>
                Última atualização: @DateTime.Now
                <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Carregando..." class="btn btn-xs btn-default pull-right">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>
        </div>*@
        <!-- Fim AJAX-DROPDOWN : Alertas -->
    </div>




    <!-- Usuário Perfil -->
    <div class="project-context hidden-xs">

        @*<span class="label">Opções:</span>*@
        <span class="project-selector dropdown-toggle" data-toggle="dropdown">Meu usuário: <i class="fas fa-angle-down"></i></span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);">Mudar minha senha</a>
            </li>
            <li>
                <a href="javascript:void(0);">Meu perfil</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);"><i class="fas fa-power-off"></i> Limpar</a>
            </li>
        </ul>
        <!-- end dropdown-menu-->

    </div>
    <!-- end Usuário Perfil -->



    <!-- pulled right: nav area -->
    <div class="pull-right">

        <div id="hide-menu" class="btn-header pull-right">
            <span>
                <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
                    <i class="fas fa-bars"></i>
                </a>
            </span>
        </div>
        <!-- #MOBILE -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="~/img/avatars/sunny.png" alt="Leonardo" class="online" />
                </a>

            </li>
        </ul>

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a asp-controller="Account" asp-action="Login" title="Sair" data-action="userLogout" data-logout-msg="Você deve fechar o browser(navegador) depois!">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </span>
        </div>
        <!-- end logout button -->
        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span>
                <a href="javascript:void(0)" title="Buscar">
                    <i class="fas fa-search"></i>
                </a>
            </span>
        </div>
        <!-- end search mobile button -->

        <form asp-controller="AppViews" asp-action="Search" class="header-search pull-right">
            <input id="search-fld" type="text" name="param" placeholder="Busca" data-autocomplete='[
					"Talão",
					"VTR Localizar",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancelar buscas">
                <i class="fas fa-times"></i>
            </a>
        </form>



    </div>
</header>
<!-- END HEADER -->
