﻿@model MuseuPI.Models.Colecao

@{
    ViewData["Title"] = "Colecao";
}


    <div class="row">
        <!-- Title -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-first-order"></i>Colecao
                <span> > Cadastro</span>
            </h1>
        </div>
        <!-- Coluna a Direita -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-plus" aria-hidden="true"></i> Cadastro de Colecao</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                       
                        </div>
                        <div class="panel-footer">
                            <div>
                                <input type="submit" value="Cadastrar" class="btn btn-primary pull-right" />
                            </div>
                        </div>
                    </div>
               </form>
            </article>
        </div>
        <div>
             <a asp-action="Index">Voltar para lista</a>
        </div>
    </section>
@section Scripts {
}
