﻿@model MuseuPI.Models.Colecao

@{
   ViewData["Title"] = "Colecao";
}


<div class="row">
    <!-- Title -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">

            <i class="fa-fw fa fa-info"></i>
            Colecao <span> > Detalhes  </span>
        </h1>
    </div>
    <!-- Coluna a Direita -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <!--MENU A DIREITA-->
    </div>
</div>


<section id="widget-grid" class="">
    <div class="row">
        <!-- Painel Base -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info" aria-hidden="true"></i> Detalhes  Colecao </h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DataCadastro)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DataUltimaModificacao)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DataUltimaModificacao)
                        </dd>
                    </dl>
                </div>

                <div class="panel-footer">
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.ColecaoId">Editar</a> |
                        <a asp-action="Index">Voltar para Lista</a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
