﻿@model IEnumerable<MuseuPI.Models.Colecao>

@{
    ViewData["Title"] = "Colecao";
}
<div class="row">
    <!-- Title -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-list-alt"></i>Colecao
            <span> > Listagem</span>
        </h1>
    </div>
    <!-- Coluna a Direita -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> Lista de Colecao</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <a asp-action="Create">Criar novo</a>
                    </p>
                    <div class="table-responsive">
                        <table id="TabelaListas" class="table table-hover dataTable table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataCadastro)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataUltimaModificacao)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataCadastro)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataUltimaModificacao)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ColecaoId">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.ColecaoId">Detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ColecaoId">Deletar</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_partialDataTables"); }
    @Html.Raw(ViewBag.Confirm)
	<script type="text/javascript">
			$(document).ready(function () {
				LoadConfigDefaultDataTableNet();

				$('table').DataTable({
				//	aoColumnDefs: [
				//		{ "aTargets": [2], "bSortable": false },
				//		{ "aTargets": [7], "bSortable": false },
				//	]
				});
			});
	</script>
}
