﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewDataTypeShortName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
    @:
    //    PushIndent("    ");
}
}
<div class="row">
    <!-- Title -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">

            <i class="fa-fw fa fa-trash"></i>
            @Model.ViewDataTypeShortName <span> > Deletar  </span>
        </h1>
    </div>
    <!-- Coluna a Direita -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <!--MENU A DIREITA-->
    </div>
</div>
<section id="widget-grid" class="">
    <div class="row">
        <!-- Painel Base -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-trash-o" aria-hidden="true"></i> Deletar @Model.ViewDataTypeShortName</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
            @{
                var except = new List<string> { "DataExcluido" };
                foreach (PropertyMetadata property in Model.ModelMetadata.Properties)
                {
                    if (except.Contains(property.PropertyName))
                    {
                        continue;
                    }
                    if (property.Scaffold && !property.IsForeignKey && !property.IsPrimaryKey)
                    {
                        <dt>
                            @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                        </dt>
                        <dd>
                            @@Html.DisplayFor(model => model.@GetValueExpression(property))
                        </dd>
                    }
                }
                foreach (var navigation in Model.ModelMetadata.Navigations)
                {
                        <dt>
                            @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                        </dt>
                        <dd>
                            @@Html.DisplayFor(model => model.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                        </dd>
                }
                    @:</dl>
                @:</div>
                @:<div class="panel-footer">
                    @:<input type="button" value="Deletar" class="btn btn-danger pull-right" data-toggle="modal" data-target="#ConfirmSenha" />
                    @:
                @:</div>
            @:</div>
        @:</article>
    @:</div>
    @:<a asp-action="Index">Voltar para Lista</a>
@:</section>



<!-- Modal -->
@:<form asp-action="@Model.ViewName">
    <div class="modal fade" id="ConfirmSenha" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Confirme sua senha para poder deletar</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Senha" class="col-sm-4 control-label">  Digite sua senha:</label>
                        <div class="col-sm-8">
                            <input type="password" id="Senha" name="Senha" class="form-control form-peq" />
                        </div>

                    </div>
               
                <br /><br />

                </div>
                <div class="modal-footer">
                    @foreach (var property in Model.ModelMetadata.Properties)
                     {
                        if (property.IsPrimaryKey)
                        {
                            @:<input type="hidden" asp-for="@GetValueExpression(property)" />
                        }
                     }
                    <button type="submit" class="btn btn-danger">Deletar confirmar</button>
                </div>
            </div>
        </div>
    </div>
  @:</form>


if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
{
//ClearIndent();
@:</body>
@:</html>
}
}
@functions
{
    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }
}