﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
   @:ViewData["Title"] = "@Model.ViewDataTypeShortName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
    @:
    //    PushIndent("    ");
}
}
<div class="row">
    <!-- Title -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">

            <i class="fa-fw fa fa-info"></i>
            @Model.ViewDataTypeShortName <span> > Detalhes  </span>
        </h1>
    </div>
    <!-- Coluna a Direita -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <!--MENU A DIREITA-->
    </div>
</div>


<section id="widget-grid" class="">
    <div class="row">
        <!-- Painel Base -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-info" aria-hidden="true"></i> Detalhes  @Model.ViewDataTypeShortName </h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
            @{
                var except = new List<string> { "DataExcluido" };
                foreach (PropertyMetadata property in Model.ModelMetadata.Properties)
                {
                    if (except.Contains(property.PropertyName))
                    {
                        continue;
                    }
                    if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                    {
                        <dt>
                            @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                        </dt>
                        <dd>
                            @@Html.DisplayFor(model => model.@GetValueExpression(property))
                        </dd>
                    }
                }
                foreach (var navigation in Model.ModelMetadata.Navigations)
                {
                        <dt>
                            @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                        </dt>
                        <dd>
                            @@Html.DisplayFor(model => model.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                        </dd>
                }
            }
                    </dl>
                </div>

                <div class="panel-footer">
                    <div>
                @{
                    string pkName = GetPrimaryKeyName();
                    if (pkName != null)
                    {
                        @:<a asp-action="Edit" asp-route-id="@@Model.@pkName">Editar</a> |
                        @:<a asp-action="Index">Voltar para Lista</a>
                    }
                    else
                    {
                        @:@@Html.ActionLink("Editar", "Edit", new { /* id = Model.PrimaryKey */ }) |
                        @:<a asp-action="Index">Voltar para Lista</a>
                    }
                }
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
@{
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
//ClearIndent();
@:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }
}