﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @Model.ViewDataTypeName

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewDataTypeShortName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
@:
        //    PushIndent("    ");
    }

    @:<div class="row">
    @:<!-- Title -->
        @:<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            @:<h1 class="page-title txt-color-blueDark">
                @:<i class="fa-fw fa fa-pencil"></i>@Model.ViewDataTypeShortName
                @:<span> > Editar</span>
            @:</h1>
        @:</div>
        @:<!-- Coluna a Direita -->
        @:<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        @:</div>
    @:</div>

@:<section id="widget-grid" class="">
        @:<form asp-action="@Model.ViewName">
            @:<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @:<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @:<div class="panel panel-primary">
                    @:<div class="panel-heading">
                        @:<h3 class="panel-title"><i class="fa fa-plus" aria-hidden="true"></i> Editar @Model.ViewDataTypeShortName</h3>
                    @:</div>
                    @:<div class="panel-body">
            var except = new List<string> { "DataCadastro", "DataExcluido", "DataUltimaModificacao" };
            foreach (PropertyMetadata property in Model.ModelMetadata.Properties)
            {
                if (except.Contains(property.PropertyName))
                {
                    continue;
                }
                if (property.IsPrimaryKey)
                {
                        @:<input type="hidden" asp-for="@property.PropertyName" />
                    continue;
                }

                if (property.Scaffold)
                {
                    if (property.IsReadOnly)
                    {
                        continue;
                    }

                    if (property.IsForeignKey)
                    {
                        @:<div class="form-group">
                            @:<label asp-for="@property.PropertyName" class="control-label"></label>
                            @:<select asp-for="@property.PropertyName" class="form-control" asp-items="ViewBag.@property.PropertyName"></select>
                            @:<span asp-validation-for="@property.PropertyName" class="text-danger"></span>
                        @:</div>
                        continue;
                    }

                    bool isCheckbox = property.TypeName.Equals("System.Boolean");
                    if (isCheckbox)
                    {
                        @:<div class="form-group">
                            @:<div class="checkbox">
                                @:<label>
                                    @:<input asp-for="@property.PropertyName" /> @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                                @:</label>
                            @:</div>
                        @:</div>
                    }
                    else if (property.IsEnum && !property.IsEnumFlags)
                    {
                        @:<div class="form-group">
                            @:<label asp-for="@property.PropertyName" class="control-label"></label>
                            @:<select asp-for="@property.PropertyName" class="form-control" asp-items="ViewBag.@property.PropertyName"></select>
                            @:<span asp-validation-for="@property.PropertyName" class="text-danger"></span>
                        @:</div>
                    }
                    else
                    {
                        @:<div class="form-group">
                            @:<label asp-for="@property.PropertyName" class="control-label"></label>
                            @:<input asp-for="@property.PropertyName" class="form-control" />
                            @:<span asp-validation-for="@property.PropertyName" class="text-danger"></span>
                        @:</div>
                    }
                }
                // Ideally we shouldn't be here  but if the user marks the foreign key as [ScaffoldColumn(false)], we want to atleast try to make it work.
                else if (property.IsForeignKey)
                {
                        @:<input type="hidden" asp-for="@property.PropertyName" />
                    continue;
                }
            }
        }
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <input type="submit" value="Salvar" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            </article>
        </form>
    <div>
        <a asp-action="Index">Voltar para lista</a>
    </div>
</section>
@{
    if (Model.ReferenceScriptLibraries)
    {
@:@@section Scripts {
   
@:}
    }
    // The following code closes the tag used in the case of a view using a layout page and the body and html tags in the case of a regular view page
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
@:</body>
@:</html>
    }
}
@functions
{
    string GetAssociationName(IPropertyMetadata property)
    {
        //Todo: Implement properly.
        return property.PropertyName;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }
}
