﻿@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@@model @GetEnumerableTypeExpression(Model.ViewDataTypeName)

@{
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = "@Model.ViewDataTypeShortName";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
@:
@:
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>@Model.ViewName</title>
@:</head>
@:<body>
        //    PushIndent("    ");
    }
@:<div class="row">
    @:<!-- Title -->
    @:<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        @:<h1 class="page-title txt-color-blueDark">
            @:<i class="fa-fw fa fa-list-alt"></i>@Model.ViewDataTypeShortName
            @:<span> > Listagem</span>
        @:</h1>
    @:</div>
    @:<!-- Coluna a Direita -->
    @:<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    @:</div>
@:</div>

@:<section id="widget-grid" class="">
    @:<div class="row">
        @:<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @:<div class="panel panel-primary">
                @:<div class="panel-heading">
                    @:<h3 class="panel-title"><i class="fa fa-list-alt" aria-hidden="true"></i> Lista de @Model.ViewDataTypeShortName</h3>
                @:</div>
                @:<div class="panel-body">
                    @:<p>
                        @:<a asp-action="Create">Criar novo</a>
                    @:</p>
                    @:<div class="table-responsive">
                        @:<table id="TabelaListas" class="table table-hover dataTable table-striped table-bordered">
                            @:<thead>
                                @:<tr>

                            var properties = Model.ModelMetadata.Properties;
                            var except = new List<string> { "DataExcluido" };
                            foreach (PropertyMetadata property in properties)
                            {
                                if (except.Contains(property.PropertyName))
                                {
                                    continue;
                                }
                                if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                                {
                                    <th>
                                        @@Html.DisplayNameFor(model => model.@GetValueExpression(property))
                                    </th>
                                }
                            }
                            foreach (var navigation in Model.ModelMetadata.Navigations)
                            {
                                    <th>
                                        @@Html.DisplayNameFor(model => model.@GetValueExpression(navigation))
                                    </th>
                            }
                                    @:<th></th>
                                @:</tr>
                            @:</thead>
                            @:<tbody>
                            @:@@foreach (var item in Model) {
                                @:<tr>
                                foreach (PropertyMetadata property in properties)
                                {
                                    if (except.Contains(property.PropertyName))
                                    {
                                        continue;
                                    }
                                    if (property.Scaffold && !property.IsPrimaryKey && !property.IsForeignKey)
                                    {
                                    <td>
                                        @@Html.DisplayFor(modelItem => item.@GetValueExpression(property))
                                    </td>
                                    }
                                }
                                foreach (var navigation in Model.ModelMetadata.Navigations)
                                {
                                    <td>
                                        @@Html.DisplayFor(modelItem => item.@GetValueExpression(navigation).@navigation.DisplayPropertyName)
                                    </td>
                                }
                                string pkName = GetPrimaryKeyName();
                                if (pkName != null)
                                {
                                    @:<td>
                                        @:<a asp-action="Edit" asp-route-id="@@item.@pkName">Editar</a> |
                                        @:<a asp-action="Details" asp-route-id="@@item.@pkName">Detalhes</a> |
                                        @:<a asp-action="Delete" asp-route-id="@@item.@pkName">Deletar</a>
                                    @:</td>
                                }
                                else
                                {
                                    <td>
                                        @@Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @@Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @@Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                }
                                @:</tr>
                            @:}
                            @:</tbody>

                        @:</table>
                    @:</div>
                @:</div>
            @:</div>
        @:</article>
    @:</div>
@:</section>

@:@@section Scripts {
    @:@@{ await Html.RenderPartialAsync("_partialDataTables"); }
    @:@@Html.Raw(ViewBag.Confirm)
@:	<script type="text/javascript">
@:			$(document).ready(function () {
@:				LoadConfigDefaultDataTableNet();
@:
@:				$('table').DataTable({
@:				//	aoColumnDefs: [
@:				//		{ "aTargets": [2], "bSortable": false },
@:				//		{ "aTargets": [7], "bSortable": false },
@:				//	]
@:				});
@:			});
@:	</script>

@:}


	



    if(!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
        //ClearIndent();
@:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }

    string GetEnumerableTypeExpression(string typeName)
    {
        return "IEnumerable<" + typeName + ">";
    }
}